.box-shadow{
 box-shadow:0 2px 4px 0 rgba(0,0,0,.05),
            0 4px 8px 0 rgba(0,0,0,.05);
}
 
.form-style{
	font-family:ubuntu;
}

.card{
    margin-top:80px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,.05),
               0 4px 8px 0 rgba(0,0,0,.05);
    width: 350px;
}


#rodape{
    background-color: rgba(15, 14, 12, 0.596);
    width: auto;
    height: 100%;
}